<div id="cadastroCliente" class="centralizado">
  <h1>
    Novo Cliente
  </h1>    
  <form #form="ngForm" id="form">
    <div class="form-group">
      <label for="nomeCliente">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome" id="nomeCliente" placeholder="Ex: Sara Regina Mondeo">
    </div>
    <div class="form-group">
      <label for="limiteCredito">Limite de Crédito</label>
      <input type="text" class="form-control" #limite (input)="this.mask.money(limite)" [(ngModel)]="cliente.limite" name="limiteCredito" id="limiteCredito" placeholder="R$ 9.999,99">
    </div>
    <div class="form-group">
      <label for="risco">Risco</label>
      <select class="form-control" [(ngModel)]="cliente.risco" name="risco" id="risco">
        <option>A</option>
        <option>B</option>
        <option>C</option> 
      </select>
    </div>
    <button type="submit" (click)="salvar()" class="btn btn-default">Cadastrar</button>
  </form>
</div>

<div id="listagemClientes">
  <div class="label-nenhum-cliente-cadastrado centralizado" *ngIf="!clientes.length">  
    Nenhum cliente cadastrado
  </div>  
  <div *ngIf="clientes.length">  
    <h2 class="centralizado">Clientes cadastrados </h2>    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Limite</th>
          <th scope="col">Risco</th>
          <th scope="col">Taxa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th scope="row">{{cliente.id}}</th>
          <td>{{cliente.nome}}</td>
          <td>R$ {{this.mask.floatToMoney(cliente.limite)}}</td>
          <td>{{cliente.risco}}</td>
          <td>{{cliente.taxa}}%</td>
        </tr>      
      </tbody>
    </table>
  </div>
</div>