.form-group {
    width: 50%;
    margin: auto;
    min-width: 280px;
}

.form-control {
    margin-bottom: 1.2em;
}

.centralizado {
    text-align:center;
}

.label-nenhum-cliente-cadastrado{
    margin-top: 50px;
}