<!--The content below is only a placeholder and can be replaced.-->
<div class="centralizado">
  <h1>
    Novo Cliente
  </h1>

  <form #form="ngForm" id="form">
    <div class="form-group">
      <label for="nomeCliente">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome" id="nomeCliente" placeholder="novo@cliente.com">
    </div>
    <div class="form-group">
      <label for="limiteCredito">Limite de Crédito</label>
      <input type="number" class="form-control" [(ngModel)]="cliente.limite" name="limite" id="limiteCredito" placeholder="R$ 9.999,99">
    </div>
    <div class="form-group">
      <label for="risco">Risco</label>
      <select class="form-control" [(ngModel)]="cliente.risco" name="risco" id="risco">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
    </div>
    <button type="submit" (click)="salvar(form)" class="btn btn-default">Cadastrar</button>
  </form>
</div>
<h2 class="centralizado">Clientes já cadastrados: </h2>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Limite</th>
        <th scope="col">Risco</th>
        <th scope="col">Taxa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nome}}</td>
        <td>R$ {{cliente.limite}}</td>
        <td>{{cliente.risco}}</td>
        <td>{{cliente.taxa}}%</td>
      </tr>      
    </tbody>
  </table>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

